{
  "plugins": [
    "react",
    "jest",
    "prettier"
  ],
  "env": {
    "jest/globals": true,
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-unused-prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "no-labels": 0,
    "arrow-parens": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "semi": ["error", "never"]
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  }
}
